################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.cache
*.dll
*.pdb
/.vs
[Dd]ebug/
[Rr]elease/
[Mm]ine/
x64/
[Bb]in/
[Oo]bj/
