################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.cache
*.dll
*.pdb
/.vs
/Assembly-CSharp/obj
/Assembly-CSharp/bin
